##### BEGIN METATRON AUTOCONFIG
# Do not remove the above line. The metatron CLI uses it to update this file.
# Set git proxy configuration (must be the first directive in this file)
[include]
    path = /Users/cdelst/.gitconfig-proxy
# Do not remove the below line. The metatron CLI uses it to update this file.
##### END METATRON AUTOCONFIG
[user]
	name = Case Delst
	email = cdelst@netflix.com
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludeFile = /Users/cdelst/dotfiles/.globalgitignore
	excludesFile = /Users/cdelst/dotfiles/.globalgitignore
